* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #333;
}

/* HEADER */

.header {
    background-color: #ff6f61;
    padding: 15px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-inner{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:1.8rem;
    font-weight:bold;
    color:white;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:500;
    transition:0.3s;
}

.menu a:hover{
    color:#ffe5e0;
}