{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'restourant_app/css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'restourant_app/css/header.css' %}">
</head>
<body>

    <header class="header">
        <div class="container header-inner">
    
            <div class="logo">Food gourmet</div>
    
            <nav class="menu">
                <a href="/">home</a>
                <a href="/profile/">profile</a>
                <a href="about_us/">about us</a>
                <a href="/food/">food</a>
            </nav>
    
        </div>
    </header>

<section class="main">
    <div class="container main-inner">
        <div class="main-text">
            <h1>About us</h1>
            <p>
                Вітаю на сайті для покупки Їжі, ми підберемо кращу їжу для вас! Ми займаємося готуванням для гурманів зі всього світу!<br><br>
                Закуп онлайн набагато зручніше! Ви можете получити знижку на продукт! Також ми враховуємо скільки
                ви бронюєте, чим більше ви бронюєте тим більше для вас подарунків!<br><br>
                За 5 заказів ви отримуєте карту 
                <span class="bronze">Bronze member</span>, 
                за 10 заказів <span class="silver">Silver member</span>, 
                за 20 <span class="gold">Golden member</span>, 
                за 35 <span class="lapiz">Lapiz member</span> 
                і за 50 <span class="diamond">DIAMOND MEMBER</span>,<br><br>
                також ви можете використовувати її в наших ресторанах
                та у декількох ресторанах наших партнерів!<br>
                Ми маємо гарну клієнтську базу і відмінну репутацію!
                В асортименті ми маємо більше 300 видів блюд для каждого!
            </p>
        </div>
    </div>
</section>
</body>
</html>