{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Settings</title>
    <link rel="stylesheet" href="{% static 'restourant_app/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'restourant_app/css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'restourant_app/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'restourant_app/css/geeks.css' %}">
    <link rel="stylesheet" href="{% static 'restourant_app/css/food.css' %}">
    <link rel="stylesheet" href="{% static 'restourant_app/css/food_template.css' %}">
</head>

<header class="header">
    <div class="container header-inner">
        <div class="logo">Food gourmet</div>
        <nav class="menu">
            <a href="/">home</a>
            <a href="/profile">profile</a>
            <a href="/about_us/">about us</a>
            <a href="/food/">food</a>
        </nav>
    </div>
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>