{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'food-detail' food.pk %}" class="menu-item-link">
    <div class="menu-item">
        <div class="pasta-img-container">
            <img src="{% static 'restourant_app/imgs/carbonara.jpg' %}" 
                 alt="Паста Карбонара" 
                 class="pasta-img">
        </div>
        
        <div class="menu-content">
            <div class="stars">★★★★☆</div>
            <h2>{{food.name}}</h2>
            <p>{{food.description}}</p>
            <p> {{food.price}} </p>
        </div>
    </div>
</a>
{% endblock %}