{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="main">
    <div class="container main-inner">

        <div class="main-text">
            <h1>Welcome!</h1>
            <p>Вітаю на сайті для бронювання їжі, ми підберемо кращу страву! 
               Ми займаємося бронюванням усьому світі!
               (більше деталей далі на сайті)
            </p>
            <a href="/foods/" class="btn">Start</a>
        </div>

        <div class="main-img">
            <img src="{% static 'imgs/pasta.jpeg' %}">
        </div>

    </div>
</section>
{% endblock %}